################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Zmplr.Chronometry/.vs/Zmplr.Chronometry
/Zmplr.Chronometry/packages
/Zmplr.Chronometry/Zmplr.Chronometry/bin
/Zmplr.Chronometry/Zmplr.Chronometry/obj
/Zmplr.Chronometry/Zmplr.Chronometry.Tests/bin
/Zmplr.Chronometry/Zmplr.Chronometry.Tests/obj
/Zmplr.Chronometry/Zmplr.Chronometry/nuget_api_key.txt
